<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sih.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.main-heading{
    text-align: center;
    color: #d0b200;
}
.home-container{
    height:100vh;
    background-color:beige;
}
p{
    font-weight: bold;
    font-size:30px;
}
.add-coupons{
    height: 100vh;
    background-color: beige;
}
input{
    width:50%;
    border-style: solid;
    border-color: #e4e7eb;
    border-radius: 10px;
    padding: 15px;
    margin-top:10px;
}
.add-button{
    background-image: linear-gradient(#d0b200,#a58d00);
    color:white;
    border-width: 0px;
    border-radius:20px;
    padding: 10px;
    width:120px;
}
.submit-button{
    background-image: linear-gradient(#89cff0,#8c9dad);
    color:white;
    border-width: 0px;
    border-radius:20px;
    padding: 10px;
    width:120px;
}
.coupon{
    border-radius:20px;
    border-width:3px;
    border-style:solid;
    padding:20px;
    font-size:30px;
    border-color: #e5eaf4;
    background-color: white;
}
.code{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-heading{
    text-decoration:underline;
    text-align: center;
}
.about-list{
    font-size: 20px;
}
.input-text{
  color:#d0b200;
}
.about-container{
  color:beige;
  height:100vh;
  background-color: #8c9dad;
}
span{
  font-weight:bold;
}

</style>
<bo>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CSP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#home-container">Home</a>
              <a class="nav-link" href="#add-coupons">Add</a>
              <a class="nav-link" href="#about-container">About</a>
              <a class="nav-link" href="#reviews-container">Reviews</a>
              <a class="nav-link" href="http://127.0.0.1:5500/templates/sih2.html">ChatBot</a>
            </div>
          </div>
        </div>
      </nav>
    <div class=" pt-5 mt-5 home-container" id="home-container">
      <div class="pt-4"></div>
        <div class="head-container text-center">
            <h1 class="main-heading">Available Coupons</h1>
        </div>
        <div class="container ml-5 mt-5 mr-5 coupons-container" id="coupons-container"></div>
    </div>
    <div class="add-coupons  text-center d-flex flex-column justify-content-center" id="add-coupons">
      <form name = "passdata" action = "{{url_for('validate_student')}}"  method = 'post'></form>
        <div ><p class="input-text">Add Description:</p><input type="text" name="description_1"  required="required" placeholder="Enter the description" id="description-input">
        </div>
        <br/>
        <div><p class="input-text">Coupon Value:</p><input type="text" name="coupon_value" required="required" placeholder="Coupon Value will be Converted into points" id="value-input">
        </div>
        <br/>
        <div><p class="input-text">Add Coupon Code:</p><input type="text" name="coupon_code" required="required" placeholder="Enter the coupon code" id="code-input">
        </div>
        <div class="mt-4"><button class="add-button" id="add-button">Add</button></div>
    </div>
    <div class="about-container" id="about-container">
      <div class="pt-5"></div>
      <div class="mt-5 pt-5">
        <h1 class="about-heading">About</h1>
        <div class="ml-4 mt-4 container">
          <ul class="about-list">
            <li>Introducing a Web-Based Market Place Where You Can Effortlessly exchange your Surplus Payment-Platform(phonepe) Vouchers/Rewards that hold no value for You.</li>
           <li>Additionally, discover and acquire Valuable Rewards that you truly need but currently Lack</li>
           <li><span>Adding Coupons: </span>You can add your surplus coupons in our site and get equivalent points for your coupon, you can use them later or convert them into any other forms of revenue.</li>
           <li><span>Buying Coupons: </span>You can buy your required couopons form our site which various users across the world add to our site by using your existing points for your uploaded coupons or you can buy some points by using any kinds of revenue.</li>
         </ul>
      </div>
      </div>
    </div>
    <div class="reviews-container about-container" id="reviews-container">
      <div class="pt-5"></div>
      <div class="pt-5"></div>
      <div class="pt-5"></div>
      <div class="container">
        <p>Help us by submitting your Feedback</p>
        <textarea rows="4" cols="90" id="textArea"></textarea>
      </div>
      <div class="container pt-3 d-flex flex-row justify-content-center">
        <button class="submit-button" id="submitButton">Submit</button>
      </div>
    </div>
    <script>
      let couponsContainer=document.getElementById("coupons-container");
let addButton=document.getElementById("add-button");
let descriptionInput=document.getElementById("description-input");
let codeInput=document.getElementById("code-input");
let valueInput=document.getElementById("value-input");
let submitButton=document.getElementById("submitButton");
let textArea=document.getElementById("textArea");

let uniqueNumber=1;

function onDeleteCoupon(cpnId,btnId,code){
    let coupon=document.getElementById(cpnId);
    couponsContainer.removeChild(coupon);
    let button=document.getElementById(btnId);
    couponsContainer.removeChild(button);
    alert(code);
}

addButton.onclick=function(){
    if(descriptionInput.value===""){
        alert("Enter a valid coupon description");
        return;
    }
    else if(codeInput.value===""){
        alert("Enter a valid coupon code");
        return;
    }
    else{
        let newCoupon=document.createElement("div");
        let cpnId=uniqueNumber+"id";
        newCoupon.id=cpnId;
        newCoupon.classList.add("coupon","mb-3");
        let newDescription=document.createElement("p");
        newDescription.textContent=descriptionInput.value;
        let code="code : "+codeInput.value;
        newCoupon.appendChild(newDescription);
        
        let newValue=document.createElement("p");
        let value=valueInput.value*0.25;
        newValue.textContent="Value :"+value+" points";
        newValue.classList.add("code");
        newCoupon.appendChild(newValue);
        couponsContainer.appendChild(newCoupon);
        descriptionInput.value="";
        codeInput.value="";
        valueInput.value="";

        let newButtonContainer=document.createElement("div");
        newButtonContainer.classList.add("d-flex","flex-row","justify-content-end");
        let newButton=document.createElement("button");
        newButton.textContent="Buy";
        newButton.classList.add("add-button","ml-auto");
        let btnId="button"+uniqueNumber;
        newButtonContainer.id=btnId;
        newButtonContainer.appendChild(newButton);
        couponsContainer.appendChild(newButtonContainer);

        newButton.onclick=function(){
            onDeleteCoupon(cpnId,btnId,code);
        }
        uniqueNumber=uniqueNumber+1;
    }
}

submitButton.onclick=function(){
    textArea.value="";
    alert("Your Review is submitted");
    return;
}
    </script>
</html>